* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #665;
}

ul.topnav li a.active {
  background-color: darkorange;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.contact_cont {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(https://i.pinimg.com/originals/ba/b7/85/bab7852145ed44060ff3422348fd7bd7.jpg);
}
.contact_cont .content_cont {
  max-width: 800px;
  text-align: center;
}

.contact_cont .content_cont h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact_cont .content_cont p {
  font-weight: 300;
  color: #fff;
}

.container_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container_cont .contactInfo_cont {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container_cont .contactInfo_cont .box_cont {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container_cont .contactInfo_cont .box_cont .icon_cont {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container_cont .contactInfo_cont .box_cont .text_cont {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container_cont .contactInfo_cont .box_cont .text_cont h3 {
  font-weight: 500;
  color: darkorange;
}

.contactForm_cont {
  width: 40%;
  padding: 40px;
  background: #fff;
  min-width: 300px;
  max-width: 400px;
}

.contactForm_cont h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm_cont .inputBox_cont {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm_cont .inputBox_cont input,
.contactForm_cont .inputBox_cont textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm_cont .inputBox_cont span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #665;
}

.contactForm_cont .inputBox_cont input:focus ~ span,
.contactForm_cont .inputBox_cont input:valid ~ span,
.contactForm_cont .inputBox_cont textarea:focus ~ span,
.contactForm_cont .inputBox_cont textarea:valid ~ span {
  color: darkorange;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm_cont .inputBox_cont input[type="submit"] {
  cursor: pointer;
  padding: 10;
}

@media (max-width: 600px) {
  .contact_cont {
    padding: 50px;
  }
  .container_cont {
    flex-direction: column;
  }
  .container_cont .contactInfo_cont {
    margin-bottom: 40px;
  }
  .container_cont .contactInfo_cont {
    width: 100%;
  }
}

footer {
  text-align: center;
  padding: 3px;
  background-color: darkorange;
  color: white;
}
